/*
	bg color: 	#353232
	secondary color: #585858
	text:		#d7dadc
*/

body.nightMode {
    background-color:#353232!important;
	color:#d7dadc!important;
}

body.nightMode .navbar-default{
	background-color:#585858 !important;
	color:#d7dadc!important;
}

body.nightMode .nav-tabs>li.active>a, body.nightMode .nav-tabs>li.active>a:hover, body.nightMode .nav-tabs>li.active>a:focus{
	background-color:#353232!important;
	color:#d7dadc!important;
}
body.nightMode ol.videoList>li.videoListEntry .header{
	 background-color:#353232!important;
	color:#d7dadc!important;
}

body.nightMode .navbar-default .navbar-brand{
	color:#d7dadc!important;
}

body.nightMode .navbar-default .navbar-nav>li>a{
	color:#d7dadc!important;
}


body.nightMode .col-xs-4{
	 background-color:#353232!important;
}

body.nightMode .panel {
	background-color:#353232!important;
	color:#d7dadc!important;
}

body.nightMode .panel-chat .chatlog .messageEntry>.name {
	color:#bbc6ce!important;
}

body.nightMode .player-overlay-wrapper .player-overlay{
	background-color:#353232!important;	
}

body.nightMode .player-overlay-wrapper .player-overlay .player-overlay-textbox{
	background-color:#353232!important;	
	color:#d7dadc!important;
}

body.nightMode .panel-footer{
	background-color:#585858 !important;
	color:#d7dadc!important;
}

body.nightMode ol.user-list>li:nth-child(even) {
	background-color:#585858!important;
	color:#d7dadc!important;
}

body.nightMode ol.videoList>li.videoListEntry .content>.list-container:nth-child(3){
	background-color:#353232!important;
	color:#d7dadc!important;
}

body.nightMode .pagination>.disabled>span, body.nightMode .pagination>.disabled>span:hover, body.nightMode .pagination>.disabled>span:focus, body.nightMode .pagination>.disabled>a, body.nightMode .pagination>.disabled>a:hover, body.nightMode .pagination>.disabled>a:focus{
	background-color:#353232!important;
	color:#d7dadc!important;
}